{% extends "base.html" %} 

{% block content %}

<div class="todo-container">
  <div class="todo-search">
    <form action="" method="POST">
     
      {% comment %} <input type="text" placeholder="Enter Todo" /> {% endcomment %}

      <button>Add</button>
    </form>
  </div>

  <div class="todo-list">
    
 

    <div class="todo-list-item">
      <div class="task">
        <input type="checkbox" />
        <p></p>
      </div>

      <div class="btn-container">
        <div class="edit">
          <a href="">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </div>
        <div class="del">
          <a href="">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </div>
      </div>
    </div>
      
  
      
   





   

 
  </div>
</div>
